h1{
    text-align: center;
    margin-top: 40px;
    font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 45px;
line-height: 61px;
}
.desc{
    margin: 20px 120px 0 120px;
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 29px;
text-align: center;
}
.click_me{
    margin-top: 30px;
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 149.8%;
text-align: center;
}
.butt{
    display: flex;
    margin-top: 20px;
}
div > button{
    background: #000000;
    border-radius: 6px;
    color: white;
    padding: 15px 40px 15px 40px;
    margin: auto;
}

